@model ErrandscallDatabase.VehicleDocument

@using (Html.BeginForm("_VehicleDocumet", "Fleet", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.VehicleId)

    <div class="form-group">

        @Html.Label("Document Type", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-12">
            @Html.DropDownList("TypeId", ViewBag.DocumentType as SelectList, "--- Select Type ---", new { @class = "form-control form-control-user", @required = "@required" })
            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Attach Document</label>
        <div class="col-md-12">
            <div class="form-group">
                <input style="width:100%;" type="file" class="form-control" name="VehicleDoc" id="VehicleDoc" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $(function () {
            $("#TypeId").chosen({ width: "100%" });

            $("[data-mask]").inputmask();

        });


    })
</script>
