@model ErrandscallDatabase.Vehicle
@{
    ViewBag.Title = "View Vehicle";
}


<div class="row">

    <div class="col-xl-1 col-lg-7">
    </div>
    <div class="col-xl-3 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #000">
                <h6 class="m-0 font-weight-bold text-primary">Vehicle Info</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row" style="color: black">
                    <div class="col-sm-12">
                        <b for="first_name">Initials & Surname</b><br />
                        <label>@Model.Client.Initials @Model.Client.Surname</label>
                    </div>
                    <div class="col-sm-12">
                        <b for="first_name">Make</b><br />
                        <label>@Model.VehicleMake.Description</label>
                    </div>
                    <div class="col-sm-12">
                        <b for="first_name">Model</b><br />
                        <label>@Model.VehicleModel.Description</label>
                    </div>
                    <div class="col-sm-12">
                        <b for="first_name">Reg</b><br />
                        <label>@Model.Reg</label>
                    </div>
                    <div class="col-sm-12">
                        <b for="first_name">VIN</b><br />
                        <label>@Model.VIN</label>
                    </div>
                    <div class="col-sm-12">
                        <b for="first_name">Day of expiry</b><br />
                        <label>@Model.DayOfExpire</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #000">
                <h6 class="m-0 font-weight-bold text-primary">Documents</h6>
                <h6 class="m-0 font-weight-bold text-primary float-right"><a href="#" onclick="VehicleDocumet(true,null,@Model.Id)"><i class="fas fa-2x fa-plus-circle"></i></a></h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Index
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.VehicleDocument)
                            {
                                <tr>

                                    <th>
                                        @item.document_name
                                    </th>
                                    <th>
                                        @item.DocumentType.Description
                                    </th>
                                    <th>
                                        @item.document_mime
                                    </th>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <br />
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content" style="background: white; border:0">
            <div class="modal-header">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Documents </h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="exampleModalBody"></div>
            </div>
        </div>
    </div>
</div>

<script>
    document.onreadystatechange = function () {
        if (this.readyState === 'complete') {
            SetNavActive('VehicleManagement');
        }
    };

    //


    function VehicleDocumet(Clear, Id, vId) {

        $.ajax(
            {
                url: '@Url.Action("_VehicleDocumet")?' + '&Id=' + Id + '&vId=' + vId,
                type: 'GET',
                success: function (result) {
                    if(Clear)
                        $('#exampleModalBody').html(result);
                    else
                        $('#exampleModalBody').html( result);
                    $('#VehicleModal').modal('show');

                },
                error: function (result)
                {

                }
            }
        );
    }
</script>
